body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding:15px ;
    margin-bottom: 20px;
    align-items: center;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    float: right;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top:45px ;
    margin-bottom:65px ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px auto 0px auto;
    display: flex;
    max-width: 1100px;
}

article {
    background-color: white;
    padding:15px ;
    width: 400px;
    margin:30px ;
    text-align: center;
   
}

.article-but {
    text-decoration: none;
    background-color: #A1652D;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

footer {
    background-color: white;
    padding:0px ;
    display: flex
}

footer a {
    margin-right:185px ;
    margin-left:195px ;
}

footer p {
    font-size: 24px;
}
